{% extends "template.html" %}
{% block head %}
<script type="text/javascript" src="/static/profile.js"></script>
<script type="text/javascript" src="static/email.js"></script>
<meta name="user_id" content="{{ user_page.id }}">
{% endblock %}
{% block body %}
<div class="profilebar">
    <div class="profilepic">
        {% if user and user.is_owner(user_page) %}
        <div class="edit" id="edit">
            {% if user.has_picture %}
            <input type="file" id="file" onchange="upload(event)">
            <label class="top" for="file">change</label>
            <img src="/static/images/edit.png">
            <label class="bottom" onclick="remove()">remove</label>
            {% else %}
            <img src="/static/images/edit.png">
            <input type="file" id="file" onchange="upload(event)">
            <label class="bottom" for="file">add</label>
            {% endif %}
        </div>
        <div class="editable pic">
        {% else %}
        <div class="pic">
        {% endif %}
            <img class="pic" id="profile_picture"
                src="/profile/{{ user_page.id }}/picture">
        </div>
    </div><div class="text">
        <h1 class="name">{{ user_page.name }} {{ user_page.surname }}</h1>
        <h2 class="School">Rugby School</h2>
    </div>
</div>
{% if user and user.is_owner(user_page) %}
<table class="swimmers">
    <thead>
        <tr>
            <th class="name">Name</th>
            <th class="year">Year</th>
            <th class="stroke">Stroke</th>
            <th class="swimming">Swimming?</th>
            <th class="captain">Captain?</th>
            <th class="modify"></th>
        </tr>
    </thead>
    <tbody>
        {% set ns = namespace(odd=True) %}
        {% for swimmer in swimmers %}
        {% if not ns.odd %}
        <tr onclick="window.location.href='/profile/{{ swimmer.id }}'">
        {% set ns.odd = True %}
        {% else %}
        <tr class="odd" onclick="window.location.href='/profile/{{ swimmer.id }}'">
        {% set ns.odd = False %}
        {% endif %}
            <td class="name">{{ swimmer.name }} {{ swimmer.surname }}</td>
            <td class="year">{{ swimmer.year }}</td>
            <td class="stroke">{{ swimmer.fav_stroke.capitalize() }}</td>
            <td class="swimming disabled">
                <input class="checkbox" type="checkbox" name="swimming"
                    {{ 'checked' if swimmer.is_swimming else '' }}
                    /><label for="swimming"></label>
            </td>
            <td class="captain disabled">
                <input class="checkbox" type="checkbox" name="captain"
                    {{ 'checked' if swimmer.captain else '' }}
                    /><label for="captain"></label>
            </td>
            <td class="modify">
                <img src="/static/images/modify.png"
                ><img src="/static/images/remove.png">
            </td>
        </tr>
        {% endfor %}
        {% if not ns.odd %}
        <tr>
        {% else %}
        <tr class="odd">
        {% endif %}
            <td class="blank-add">{{ odd }}</td>
            <td class="add" onclick="$('#add-student').show()">
                <img src="/static/images/add.png">
                Add swimmer
            </td>
        </tr>
    </tbody>
</table>
<div id="add-student" class="popup-wrapper">
    <div class="popup">
        <form onsubmit="return validatefields()" action="/add_student" method="post">
            <a class="close" onclick="$('#add-student').hide()">
                <img src="static/images/cross.png">
                Close
            </a>
            <div class="title">New swimmer</div>
            <div class="input">
                <h1 class="text"><req></req>Name:</h1>
                <input type="text" name="name" id="name" placeholder="Adam" autocomplete="off" required>
            </div>
            <div class="input">
                <h1 class="text"><req></req>Surname:</h1>
                <input type="text" name="surname" id="surname" placeholder="Apple" autocomplete="off" required>
            </div>
            <div class="input">
                <h1 class="text"><req></req>Email:</h1>
                <input type="text" name="email" id="email" placeholder="appam@rugbyschool.net" autocomplete="off" required>
            </div>
            <p id="invalid-email" class="field-error">invalid email</p>
            <div class="input">
                <h1 class="text">Year:</h1>
                <select name="year" id="year" required>
                    <option value=13>XX</option>
                    <option value=12>LXX</option>
                    <option value=11>D Block</option>
                    <option value=10>E Block</option>
                    <option value=9>F Block</option>
                </select>
            </div>
            <div class="input">
                <h1 class="text">Gender:</h1>
                <select name="gender" id="gender" required>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="input">
                <h1 class="text">Stroke:</h1>
                <select name="fav_stroke" id="fav_stroke" required>
                    <option value="frontcrawl">Frontcrawl</option>
                    <option value="backstroke">Backstroke</option>
                    <option value="breaststroke">Breaststroke</option>
                    <option value="butterfly">Butterfly</option>
                    <option value="medley">Medley</option>
                </select>
            </div>
            <div class="input">
                <h1 class="text">Swimming?
                </h1><input class="checkbox" type="checkbox" id="swimming" name="swimming"
                    checked="checked"/>
                <label class="offset" for="swimming"></label>
            </div>
            <div class="input">
                <h1 class="text">Captain?
                </h1><input class="checkbox" type="checkbox" id="captain" name="captain">
                <label class="offset" for="captain"></label>
            </div>
            <br>
            <div class="button">
                <input id="add" type="submit" value="Add swimmer">
            </div>
        </form>
    </div>
</div>
{% else %}
<table class="swimmers">
    <thead>
        <tr>
            <th class="name">Name</th>
            <th class="year">Year</th>
            <th class="stroke">Stroke</th>
            <th class="swimming">Swimming?</th>
            <th class="captain">Captain?</th>
        </tr>
    </thead>
    <tbody>
        {% set ns = namespace(odd=True) %}
        {% for swimmer in swimmers %}
        {% if not ns.odd %}
        <tr onclick="window.location.href='/profile/{{ swimmer.id }}'">
        {% set ns.odd = True %}
        {% else %}
        <tr class="odd" onclick="window.location.href='/profile/{{ swimmer.id }}'">
        {% set ns.odd = False %}
        {% endif %}
            <td class="name">{{ swimmer.name }} {{ swimmer.surname }}</td>
            <td class="year">{{ swimmer.year }}</td>
            <td class="stroke">{{ swimmer.fav_stroke.capitalize() }}</td>
            <td class="swimming disabled">
                <input class="checkbox" type="checkbox" name="swimming"
                    {{ 'checked' if swimmer.is_swimming else '' }}
                    /><label for="swimming"></label>
            </td>
            <td class="captain disabled">
                <input class="checkbox" type="checkbox" name="captain"
                    {{ 'checked' if swimmer.captain else '' }}
                    /><label for="captain"></label>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}