:root {
    --blue: #0A3149;
    --blue-opaque: #0A314920;
    --blue-light: #68BAF1;
    --yellow: #E5A100;
}

* {
    padding: 0;
    margin: 0;
    border: 0;

    font-family: "Cambria Math";
    color: var(--blue);
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
}

a:hover,
a:active,
a:link,
a:visited {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

.fill {

    display: block;
    height: 100%;
    width: 100%;
}

/* Background */

.background {
    display: inline-block;
    position: fixed;
    height: 100%;
    z-index: -1;
}

.background .image {
    display: inline-block;
    height: 100%;
    opacity: 0.1;
}

.background .gradient {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
}

.background .gradient.left {
    width: 40%;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 10%, rgba(255, 0, 0, 0));
}

.background .gradient.right {
    width: 60%;
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 22%, rgba(255, 0, 0, 0));
}

.shards {
    display: inline-block;
    position: fixed;
    top: 40%;
    right: 0;
    height: 70%;
}

/* Main */

.main {
    display: inline-block;
    width: 60%;
    height: 100%;
    margin-left: 8%;
}

/* Main navbar */

.navmain {
    position: sticky;
    margin-top: 100px;
    top: 20px;
}

.navmain .title .logo {
    width: 200px;
}

.navmain .title .text {
    padding-top: 70px;
    padding-left: 20px;
}

.navmain .title .text img {
    width: 250px;
    padding-left: 30px;
}

.navmain .title .text h1 {
    color: var(--yellow);
    font-size: 60px;
    text-transform: uppercase;
}

.navmain .navbar {
    position: absolute;
    bottom: -6px;
    left: 250px;
}

/* Normal navbar */

.navnorm {
    /* most of this doesnt do anything */
    display: inline-block;
    position: sticky;
    margin-top: 100px;
    top: 100px;
    width: 100%;
    height: 100px;
}

.navnorm .logo {
    position: fixed;
    width: 100px;
    top: 50px;
    z-index: 2;
}

.navnorm .navbar {
    position: fixed;
    left: 0;
    padding: 12px;
    padding-left: calc(8% + 120px);
    background: var(--blue-opaque);
}

.navnorm .navbar a:hover {
    color: #229aeb;
}

/* Universal navbar styles */

.navbar a {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
    text-transform: uppercase;
    transition-duration: 0.1s;
}

.navbar a:hover {
    color: var(--light-blue);
}