:root {
    --blue: #0A3149 !important;
    --blue-opaque: #0A314920;
    --blue-opaquer: #0A314910;
    --blue-light: #68BAF1;
    --yellow: #E5A100;
    --red: #AF2A40;
    --grey: #EDF0F2;
}

* {
    padding: 0;
    margin: 0;
    border: 0;

    font-family: "Cambria Math";
    color: var(--blue) !important;
    line-height: normal !important;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
}

a {
    transition-duration: 0.2s;
}

a:hover,
a:active,
a:link,
a:visited {
    text-decoration: none !important;
    outline: none;
    box-shadow: none;
}

a:hover {
    filter: brightness(3);
}

.fill {

    display: block;
    height: 100%;
    width: 100%;
}

req::before {
    content: "*";
    color: var(--red);
}

/* Background */

.background {
    display: inline-block;
    position: fixed;
    height: 100%;
    z-index: -1;
}

.background .image {
    display: inline-block;
    height: 100%;
    opacity: 0.1;
}

.background .gradient {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
}

.background .gradient.left {
    width: 40%;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 10%, rgba(255, 0, 0, 0));
}

.background .gradient.right {
    width: 60%;
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 22%, rgba(255, 0, 0, 0));
}

.shards {
    display: inline-block;
    position: fixed;
    top: 40%;
    right: 0;
    height: 70%;
    z-index: -1;
}

/* Main */

.main {
    display: inline-block;
    width: 60%;
    min-width: 600px;
    height: 100%;
    margin-left: 8%;
}

/* Main navbar */

.navmain {
    position: sticky;
    margin-top: 100px;
    top: 20px;
    min-width: 767px;
    overflow: hidden;
}

/* @media screen and (max-height: 900px) {
} */

.navmain .title .logo {
    width: 200px;
}

.navmain .title .text {
    padding-top: 70px;
    padding-left: 20px;
}

.navmain .title .text img {
    width: 250px;
    padding-left: 30px;
}

.navmain .title .text h1 {
    color: var(--yellow);
    font-size: 60px;
    text-transform: uppercase;
}

.navmain .navbar {
    position: absolute;
    bottom: -6px;
    left: 250px;
}

/* Universal navbar styles */

.navbar {
    display: block !important;
}

.navbar a {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
    text-transform: uppercase;
}

/* Normal navbar */

.navnorm {
    /* most of this doesnt do anything */
    display: inline-block;
    margin-top: 100px;
    width: 100%;
    height: 100px;
}

.navnorm .logo:hover {
    all: unset;
}

.navnorm .logo img {
    position: fixed;
    width: 100px;
    top: 50px;
    z-index: 2;
    transition: 0.1s;
}

.navnorm .logo img:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.navnorm .navbar {
    position: fixed;
    left: 0;
    padding: 12px;
    min-width: calc(615px - (8% + 120px + 12px));
    padding-left: calc(8% + 120px);
    background: var(--blue-opaque);
}

/* Login styles */

.center-box {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    background: var(--blue-opaque);
    border-radius: 8px;
    padding: 10px;
}

.back .icon {
    width: 8px;
}

.back .text {
    display: inline;
    font-size: 12px;
}

form {
    padding: 10px;
}

form .title {
    width: calc(100% - 40px);
    font-size: 32px;
    text-align: center;
    padding: 20px;
}

form .text {
    font-size: 20px;
}

form input[type=text],
form input[type=password],
form input[type=date],
form select {
    display: block;
    width: calc(100% - 16px);
    height: 24px;
    padding: 4px 8px;
    background: var(--blue-opaque);
    border-radius: 4px;
    font-size: 12px;
}

form input[type=text]:hover,
form input[type=password]:hover,
form input[type=date]:hover,
form select:hover {
    outline: 1px solid var(--blue);
}

form input[type=text]:focus,
form input[type=password]:focus,
form input[type=date]:focus,
form select:focus {
    outline: 2px solid var(--blue);
}

form .forgot-password {
    display: block;
    padding: 2px;
    font-size: 12px;
    text-align: right;
    text-decoration: underline;
}

form .button {
    width: 100%;
    text-align: center;
}

form .button input,
form .button button {
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 8px;
    background: var(--blue-opaque);
    transition: 0.1s;
    transition-property: transform;
    cursor: pointer;
}

form .button input:hover,
form .button button:hover {
    outline: 1px solid var(--blue);
}

form .button input:active,
form .button button:active {
    transform: translate(0, 1px);
}

form .button input:focus,
form .button button:focus {
    outline: 2px solid var(--blue);
}

form .field-error {
    display: block;
    padding: 2px;
    font-size: 12px;
    text-align: center;
    color: var(--red);
}

/* Profile styles */

.profilebar {
    display: inline-block;
    width: calc(100% - 24px);
    height: 100px;
    padding: 12px;
    background: var(--blue-opaquer);
    text-align: center;
}

.profilebar .profilepic {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid var(--blue);
}

.profilepic .pic {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    transition-duration: 0.1s;
}

.profilepic .edit {
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    border-radius: 100%;
    z-index: 2;
    opacity: 0;
    transition-duration: 0.1s;
}

.profilepic .edit .top,
.profilepic .edit .bottom {
    position: absolute;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.profilepic .edit .top {
    top: 15%;
}

.profilepic .edit .bottom {
    bottom: 15%;
}

.profilepic .edit input {
    display: none
}

.profilepic .edit label {
    display: block;
    cursor: pointer;
    transition-duration: 0.1s;
}

.profilepic .edit label:hover {
    filter: brightness(3);
}

.profilepic .edit img {
    position: absolute;
    width: 30px;
    left: calc(50% - 15px);
    top: calc(50% - 15px);
}

.profilepic:hover > .editable {
    opacity: 0.2;
}

.profilepic:hover > .edit {
    opacity: 1;
}

.profilebar .text {
    display: inline-block;
    position: relative;
    top: -20px;
    height: 100%;
    margin-left: 40px;
}

.profilebar .text h1 {
    font-size: 40px;
}

.profilebar .text h2 {
    font-size: 20px;
}

/* Form styles */

.form {
    width: calc(100% - 40px);
    padding: calc(12px + 20px);
}

.form .text {
    display: inline-block;
    /* width: 160px; */
}

.form select,
.form input[type=text],
.form input[type=date] {
    display: inline-block;
    width: 100px;
    margin-left: 20px;
    box-sizing: content-box;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    position: relative;
    display: inline-flex;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    background: var(--blue-opaque);
    cursor: pointer;
    vertical-align: middle;
}

input[type=checkbox] + label:hover {
    outline: 1px solid var(--blue);
}

input[type=checkbox] + label:active {
    outline: 2px solid var(--blue);
}

input[type=checkbox]:checked + label::after {
    content: " ";
    height: 20px;
    width: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: url("/static/images/check.png");
    background-size: 20px 20px;
    background-position: center center;
}

.offset {
    margin-left: 20px;
}

.form .button input,
.form .button button {
    font-size: 14px;
}

.disabled input,
.disabled label {
    pointer-events:none;
    opacity: 0.5;
}

.swimmers {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.swimmers thead,
.swimmers tbody {
    width: 100%;
}

.swimmers thead tr,
.swimmers tbody tr {
    width: 100%;
    display: flex;
}

.swimmers tbody tr {
    cursor: pointer;
}

.swimmers thead th,
.swimmers tbody td {
    overflow: clip;
}

.swimmers thead th {
    padding: 10px;
    background: var(--blue);
    color: white !important;
}

.swimmers tbody td {
    text-align: center;
    display: block;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.swimmers .name {
    flex: 3;
}

.swimmers .swimming,
.swimmers .captain,
.swimmers .stroke,
.swimmers .modify {
    flex: 2;
}

.swimmers .year {
    flex: 1;
}

.swimmers .modify {
    padding: 0;
    vertical-align: middle;
}

.swimmers .modify img {
    width: 30px;
    transform: translate(0, 15px);
}

.swimmers .modify img:hover {
    outline: 1px solid var(--blue-opaque);
    cursor: pointer;
}

.odd {
    background: var(--blue-opaquer);
}

.blank-add {
    flex: 8;
}

.add {
    flex: 3;
    padding: 10px !important;
    outline: 1px solid var(--blue-opaque);
}

.add:hover {
    background: var(--blue-opaque);
    cursor: pointer;
}

.add a:hover {
    all: unset;
    user-select: none;
}

.add img {
    width: 30px;
    vertical-align: middle;
    display: relative;
}

/* Add student popup */

#add-student {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 2;
    overflow: scroll;
}

#add-student .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    width: 340px;
    background: var(--grey);
    z-index: 3;
}

@media screen and (max-height: 565px) {
    #add-student .popup {
        top: 0;
        transform: translate(-50%, 0);
    }
}

#add-student .popup form {
    padding: 20px;
}

#add-student .popup .title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

#add-student .popup .input {
    display: block;
    margin-bottom: 20px;
}

#add-student .popup .input .text {
    display: inline;
    font-size: 20px;
}

#add-student .popup input,
#add-student .popup select {
    display: inline;
    position: absolute;
    right: 20px;
    width: 170px;
}

#add-student .popup input,
#add-student .popup select {
    transform: translate(0, -2px);
}

#add-student .popup select {
    width: 186px;
    height: 32px;
}

#add-student .popup label {
    display: inline;
    position: absolute;
    right: calc(20px + 186px/2 - 20px/2);
}

#add-student .popup input[type=checkbox] {
    display: none
}

#add-student .popup input#add {
    position: static;
    right: 0;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}

#add-student .popup .field-error {
    /* display: block;
    padding: 2px;
    font-size: 12px;
    text-align: center;
    color: var(--red); */
    margin-bottom: 20px;
}

.close {
    cursor: pointer;
    display: inline;
    font-size: 12px;
}

.close img {
    width: 8px;
}

.spacy {
    margin-left: 20px;
    margin-bottom: 30px;
}

/* Sidebar */

.sidebar {
    position: fixed;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.sidebar .form {
    width: 200px;
    background: var(--grey);
    text-align: center;
    border-radius: 8px;
    box-sizing: content-box;
}

.sidebar .dropdown:nth-child(1) {
    display: inline-block;
    margin-left: 0 !important;
}

.sidebar .dropdown:nth-child(5),
.sidebar input[type="date"] {
    margin-left: 10px !important;
}

.sidebar .button {
    margin-top: 20px;
}

.red.button button {
    background: var(--red);
    color: white;
}

.red.button button:hover {
    outline: 1px solid black;
}

.red.button button:active {
    outline: 2px solid black;
}

.sidebar input.date[type="date"] {
    width: 105px;
}

.dropdown {
    margin-left: 20px !important;
    width: 140px !important;
}

.dropdown .dropdown-toggle {
    background: var(--blue-opaque) !important;
    border: none;
}

.dropdown .dropdown-toggle:hover,
.dropdown .dropdown-toggle:hover > .dropdown-menu {
    background: var(--blue-opaque);
    outline: 1px solid var(--blue);
}

.dropdown .dropdown-toggle.btn-light:focus {
    background: var(--blue-opaque) !important;
    outline: 2px solid var(--blue) !important;
    outline-offset: 0 !important;
}

.dropdown .dropdown-toggle .filter-option-inner-inner {
    position: relative;
    top: 2px;
    font-size: 12px;
}

.dropdown div.dropdown-menu {
    background: var(--grey);
    border: none;
    margin-top: 4px;
    outline: 1px solid var(--blue);
}

.dropdown .dropdown-menu .inner {
    background: none;
    padding: 5px 0;
}

.dropdown .dropdown-menu .form-control {
    width: calc(100% - 16px);
    margin: 0;
    border: none;
}

.dropdown .dropdown-menu .form-control:hover,
.dropdown .dropdown-menu .form-control:focus {
    outline: 1px solid var(--blue);
    background: var(--blue-opaque);
    box-shadow: none;
}

.dropdown .dropdown-menu .dropdown-item {
    padding: 0 20px;
}

.dropdown .dropdown-menu .dropdown-item:hover,
.dropdown .dropdown-menu .dropdown-item:focus,
.dropdown .dropdown-menu .dropdown-item:active {
    background: none;
}

.dropdown .dropdown-menu .dropdown-item.active {
    background: none; /*var(--blue-opaque);*/
}

.dropdown .dropdown-menu .dropdown-item span {
    font-size: 12px;
    height: 100%;
}

.dropdown .dropdown-menu .no-results {
    font-size: 12px;
    background: none;
    padding: 0 20px;
    margin: 0;
}

.bs-ok-default.check-mark {
    top: 2px !important;
}

/* Table */

.gala {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

.gala thead th {
    width: 100px;
    background: var(--blue);
    color: white !important;
    padding: 10px;
    font-size: 14px;
}

.gala thead .blank {
    background: none;
    width: 100px
}