{% extends "template.html" %}
{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<link rel="stylesheet" href="/static/dragtables.css" />
<script type="text/javascript" src="/static/dragtables.js"></script>
<script type="text/javascript" src="/static/manage.js"></script>
<script type="text/javascript" src="/static/hostingschool.js"></script>
{% endblock %}
{% block body %}
<div>
    <h1 class="spacy">Manage gala</h1>
</div>
<table class="gala">
    <thead class="lanes">
        <tr>
            <th class="blank dragtable-drag-boundary"></th>
            {% for lane in lanes %}
            <th lane-id={{ lane.id }}>
                Lane {{ lane.number }}
            </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="blank dragtable-drag-boundary"></td>
            {% for lane in lanes %}
            <td class="remove-lane" onclick="remove_lane(event)">remove</td>
            {% endfor %}
        </tr>
    </tbody>
</table>
<div class="sidebar">
    <form class="form">
        <select name="schools" class="selectpicker" value={{ gala.host.name }} onchange="updatehosts();update_gala(event)" multiple required>
            {% for school in schools %}
            {% if user.school_id != school.id %}
            <option value={{ school.id }} {{ 'selected' if school.id in gala.school_ids else '' }}>
                {{ school.name }}
            </option>
            {% endif %}
            {% endfor %}
        </select>
        <br><br>
        <h1 class="text">Host:</h1>
        <select name="host" class="selectpicker" onchange="update_gala(event)" required>
            {% for school in gala.schools %}
            <option value={{ school.id }} {{ 'selected' if school.id == gala.host.id else '' }}>
                {{ school.name }}
            </option>
            {% endfor %}
        </select>
        <br><br>
        <h1 class="text">Date:
        </h1><input name="date" type="date" class="date" value={{ gala.date }}>
        <br><br>
        <div class="button">
            <button type="button" onclick="add_lane(event)">Add lane</button>
        </div>
        <div class="button">
            <button type="button" onclick="">Add event</button>
        </div>
        <div class="red button">
            <button type="button" onclick="">Make live</button>
        </div>
    </form>
</div>
{% endblock %}