{% extends "template.html" %}
{% block head %}
<script src="/static/profile.js"></script>
{% endblock %}
{% block body %}
<div class="profilebar">
    <div class="profilepic">
        {% if user and user.is_owner(user_page) %}
        <div class="edit" id="edit">
            {% if user.has_picture %}
            <input type="file" id="file" onchange="upload(event)">
            <label class="top" for="file">change</label>
            <img src="/static/images/edit.png">
            <label class="bottom">remove</label>
            {% else %}
            <img src="/static/images/edit.png">
            <input type="file" id="file" onchange="upload(event)">
            <label class="bottom" for="file">add</label>
            {% endif %}
        </div>
        <div class="editable pic">
        {% else %}
        <div class="pic">
        {% endif %}
            <img class="pic" id="profile_picture"
                src="/profile/{{ user_page.user_id }}/picture">
        </div>
    </div>
    <div class="text">
        <h1 class="name">{{ user_page.name }} {{ user_page.surname }}</h1>
        <h2 class="School">Rugby School</h2>
    </div>
</div>
<div class="profile">
    {% if user and user.is_owner(user_page) %}
    <form>
        <h1 class="text">Favourite Stroke:</h1>
        <input class="field" type="text" name="fav_stroke"
            value="{{ user_page.fav_stroke.capitalize() }}">
        <br><br>
        <h1 class="text">Is Swimming:</h1>
        <input class="checkbox" type="checkbox" id="swimming" name="swimming"
            {% if user_page.is_swimming %}checked{% endif %}/>
        <label for="swimming"></label>
        <br><br><br>
        <div class="button">
            <input type="submit" value="Update">
        </div>
    </form>
    {% else %}
    <form class="disabled">
        <h1 class="text">Favourite Stroke:</h1>
        <input class="field" type="text" name="fav_stroke"
            value="{{ user_page.fav_stroke.capitalize() }}">
        <br><br>
        <h1 class="text">Is Swimming:</h1>
        <input class="checkbox" type="checkbox" id="swimming" name="swimming"
            {% if user_page.is_swimming %}checked{% endif %}/>
        <label for="swimming"></label>
    </form>
    {% endif %}
</div>
{% endblock %}