{% extends "template.html" %}
{% block body %}
<div class="profilebar">
    <div class="profilepic">
        {% if user and user.is_owner(user_page) %}
        <div class="edit">
            {% if user.profile_pic %}
            <p class="top">change</p>
            <img src="/static/images/edit.png">
            <p class="bottom">remove</p>
            {% else %}
            <img src="/static/images/edit.png">
            <p class="bottom">add</p>
            {% endif %}
        </div>
        <div class="editable pic">
        {% else %}
        <div class="pic">
        {% endif %}
            {% if user_page.profile_pic %}
            <img class="pic" src="/profilepics/{{ user_page.profile_pic }}">
            {% else %}
            <img class="pic" src="/static/images/studentprofilepic.png">
            {% endif %}
        </div>
    </div>
    <div class="text">
        <h1 class="name">{{ user_page.name }} {{ user_page.surname }}</h1>
        <h2 class="School">Rugby School</h2>
    </div>
</div>
<div class="profile">
    {% if user and user.is_owner(user_page) %}
    <form>
        <h1 class="text">Favourite Stroke:</h1>
        <input class="field" type="text" name="fav_stroke"
            value="{{ user_page.fav_stroke.capitalize() }}">
        <br><br>
        <h1 class="text">Is Swimming:</h1>
        <input class="checkbox" type="checkbox" id="swimming" name="swimming"
            {% if user_page.is_swimming %}checked{% endif %}/>
        <label for="swimming"></label>
        <br><br><br>
        <div class="button">
            <input type="submit" value="Update">
        </div>
    </form>
    {% else %}
    <form class="disabled">
        <h1 class="text">Favourite Stroke:</h1>
        <input class="field" type="text" name="fav_stroke"
            value="{{ user_page.fav_stroke.capitalize() }}">
        <br><br>
        <h1 class="text">Is Swimming:</h1>
        <input class="checkbox" type="checkbox" id="swimming" name="swimming"
            {% if user_page.is_swimming %}checked{% endif %}/>
        <label for="swimming"></label>
    </form>
    {% endif %}
</div>
{% endblock %}